#conteudo{
    background-color: blue;
    color: white;
    width: 700px;
    height: 1500px;
}

#texto{
    background-color: black;
    color: white;
    width: 500px;
    height: 100px;
    position: fixed;
    /* fixed, absolute, static, relative */
    right: 0px;
    bottom: auto;
    top: 0%;
}